$success-color: green;
$danger-color: rgb(189, 7, 7);
$danger-bg-color: rgb(255, 225, 225);
$primary-color: rgb(19, 31, 202);
$lines-color: rgb(124, 124, 124);
$font-stack: Arial, Helvetica, sans-serif;


